{% extends "queries/base-anonymous.html" %}
{% load static %}
{% block content %}

    <!-- Banner -->
    <section style="text-align: center; margin: auto">
        <div class="inner">
            <img src="{% static 'queries/images/qwaver-logo.png' %}" style="" width="70%">
            <p>Privacy Policy</p>
        </div>
    </section>

    <div style="margin-left: 3em; margin-right: 3em">
        <p>At Geneffects and with the development of Brian Risk, we understand the importance of privacy and are
            committed
            to protecting your personal information. However, we make no guarantee of privacy for Qwaver, our online
            database client.</p>

        <p>By using Qwaver, you acknowledge and agree that any information you share or upload to the platform may be
            visible to other users and that we may use your information for our internal business purposes.
            Additionally, we
            may share your information with third-party partners, advertisers, or other service providers.</p>

        <p>Please note that we do not store any financial or payment information, and we are not responsible for the
            privacy
            practices of third-party websites or services that may be linked from our platform.</p>

        <p>We may use cookies or other tracking technologies to collect information about your use of Qwaver, such as
            your
            IP address, device type, and browser type. This information may be used to analyze user behavior, improve
            our
            services, and show you relevant advertisements.</p>

        <p>By using Qwaver, you consent to the terms of this privacy policy and acknowledge that we make no guarantee of
            privacy. If you do not agree with these terms, please do not use our platform.</p>

        <p>Please note that this privacy policy may be updated at any time, and it is your responsibility to check for
            updates regularly.</p>

        <p>If you have any questions or concerns about this privacy policy, please contact us at support@qwaver.com.</p>

        <p>Note: It's important to consult with a legal professional to ensure that your privacy policy complies with
            all
            applicable laws and regulations in your jurisdiction.</p>

    </div>

{% endblock content %}