<div class="" style="margin-top: 1em; margin-bottom: 1em">
    <a class="btn" href="#" role="button"
       style="text-transform:none; width: 100%; background-color: rebeccapurple; color: white">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
             src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
        Login with Google
    </a>
</div>

<div class="" style="margin-top: 1em; margin-bottom: 1em">
    <a class="btn" href="#" role="button"
       style="text-transform:none; width: 100%; background-color: darkslateblue; color: white">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="GitHub sign-in"
             src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg"/>
        Login with GitHub
    </a>
</div>

<div class="" style="margin-top: 1em; margin-bottom: 1em">
    <a class="btn" href="#" role="button"
       style="text-transform:none; width: 100%; background-color: mediumorchid; color: white">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Stack Overflow sign-in"
             src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Stack_Overflow_icon.svg"/>
        Login with Stack Overflow
    </a>
</div>