{% extends "queries/base.html" %}
{% block content %}
    <h2>Referrals</h2>
    <div>
        <a class="btn btn-primary mb-2 mt-2"
           href="{% url 'referral-create' %}"
           role="button">New Referral</a>
    </div>
    <div>
        Sort by:
        <a class="btn btn-outline-secondary btn-sm m-1 "
           href="{% url 'referral-list' %}?sort_by=visits"
           role="button">visits</a>
        <a class="btn btn-outline-secondary btn-sm m-2 "
           href="{% url 'referral-list' %}?sort_by=id"
           role="button">id</a>
    </div>
    {% for object in object_list %}
        <article class="media content-section">
            <div class="media-body">
                {{ object.site }}: <a class="article-title"
                                      href="{% url 'referral-update' object.id %}">{{ object.title }}</a>
                {% if object.url is not None %}
                    <a href="{{ object.url }}">link</a>
                {% endif %}
                visits: {{ object.visit_count }}
                <br>
                {% if object.ref_code is None %}
                    <input type="text" size=40 value="http://qwaver.io/ref/{{ object.id }}">
                {% else %}
                    <input type="text" size=40 value="http://qwaver.io/ref/{{ object.ref_code }}">
                {% endif %}

            </div>
        </article>
    {% endfor %}
{% endblock content %}
