{% extends "queries/base.html" %}
{% block content %}
    <h2>Referrals</h2>
    <a class="btn btn-primary mb-4 mt-4" href="{% url 'referral-create' %}" role="button">New Referral</a>
    {% for object in object_list %}
        <article class="media content-section">
            <div class="media-body">
                {{ object.site }}: <a class="article-title" href="{% url 'referral-update' object.id %}">{{ object.pk }}: {{ object.title }}</a>
                <br>
                {% if object.ref_code is None %}
                    <input type="text" size=40 value="http://qwaver.io/ref/{{ object.pk }}">
                {% else %}
                    <input type="text" size=40 value="http://qwaver.io/ref/{{ object.ref_code }}">
                {% endif %}

            </div>
        </article>
    {% endfor %}
{% endblock content %}
