{% extends "queries/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <h1>Create Your User</h1>
{#        <a href=" {% url 'social:begin' 'google-oauth2' %} " class="google social-btn">#}
{#            <i class="fa fa-google fa-fw"></i> Login with Google#}
{#        </a>#}
{#        <p>Or create you user here:</p>#}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Next →</button>
            </div>
        </form>
    </div>
{% endblock content %}
