{% extends "queries/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-box content-section">
        {#        <h1>Sign up</h1>#}

        <div class="border-bottom pb-3">
                {% include "users/oauth_buttons.html" %}
        </div>

        <h4 class="mt-3">
            Or create account
        </h4>

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}
