/* Dracula theme: https://draculatheme.com/contribute */

body {
    background: #111111;
    color: #f8f8f2;
}

h1, h2, h3, h4, h5, h6 {
    color: #525983;
}

.card-override {
    background-color: #282a36;
}

.bg-steel {
    background-color: #282a36;
}

.list-group-item {
    background-color: #282a36;
    border-color: #111111;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.content-section {
    background: #111111;
    border-color: #44475a;
}

.article-title {
    color: #8ab4f8;
}

a.article-title:hover {
    color: #80b0f0;
}


.article-metadata {
    border-bottom-color: #bd93f9;
}

.article-metadata a:hover {
    color: #333;
}


.search-field {
    background-color: black;
    color: white
}

.search-box {
    border-color: #44475a;
}


.form-control {
    background-color: #282a36;
    color: white;
}

pre {
    color: yellow;
}
