/* Dracula theme: https://draculatheme.com/contribute */

body {
    background: #111111;
    color: #f8f8f2;
    margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #282a36;
}

.list-group-item {
    background-color: #282a36;
    border: 1px solid #111111;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #111111;
    padding: 10px 20px;
    border: 1px solid #44475a;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #8be9fd;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #bd93f9
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.search-field {
    background-color: black;
    border: 1px solid;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: white
}

.search-box {
    border: 1px solid #44475a;
    border-radius: 0.25rem;
}

.contain {
    object-fit: contain;
}

.form-control {
    background-color: #282a36;
    border: none;
    color: white;
}

pre {
    color: yellow;
}

/*input {*/
/*    background-color: black;*/
/*}*/