{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <link rel="stylesheet" type="text/css" href="{% static 'queries/main.css' %}">
    {% if user.is_authenticated and user.profile.display_mode == 2 %}
        <link rel="stylesheet" type="text/css" href="{% static 'queries/main-dark.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'queries/main-light.css' %}">
    {% endif %}


    <script src="{% static 'queries/codemirror/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static 'queries/codemirror/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'queries/codemirror/dracula.css' %}">
    <script src="{% static 'queries/codemirror/sql/sql.js' %}"></script>

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>QAC</title>
    {% endif %}
</head>
<body class="bootstrap-dark">
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'queries-home' %}">
                QAC
                {% if user.is_authenticated %}
                    : {{ user.profile.selected_organization }}
                {% endif %}
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'query-create' %}">New Query</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Requests</a>
                            <a class="dropdown-item" href="{% url 'query-create' %}">Query</a>
                            <a class="dropdown-item" href="{% url 'database-list' %}">Databases</a>
                        </div>
                    </li>
                </ul>
            {% endif %}

            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <div class="dropdown show">
                        <a class="btn btn-primary-outline dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            <a class="dropdown-item" href="/admin">Admin</a>
                        </div>
                    </div>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {#        <div class="col-md-4">#}
        {#            <div class="content-section">#}
        {#                <h3>Actions</h3>#}
        {#            <p class='text-muted'>You can put any information here you'd like.#}
        {#                <ul class="list-group">#}
        {#                    <li class="list-group-item"><a href="{% url 'query-create' %}">New Query</a></li>#}
        {#                    <li class="list-group-item"><a href="{% url 'database-list' %}">Databases</a></li>#}
        {#                    <li class="list-group-item">Search</li>#}
        {#                    <li class="list-group-item">Topics</li>#}
        {#                    <li class="list-group-item">Alerts</li>#}
        {#                </ul>#}
        {#                </p>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
