{% extends "queries/base.html" %}
{% block content %}
    <h2>Databases</h2>
    <a class="btn btn-primary mb-4 mt-4" href="{% url 'database-create' %}" role="button">New Database Connection</a>
    {% for database in databases %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'database-update' database.id %}">{{ database.title }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
