{% extends "queries/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if is_setup %}
            <h1>
                Step 3
            </h1>
            <p>
                Great!  Every organization has one or more databases.  Enter the connection parameters for one of those databases
            </p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% if object != null %}
                        Edit
                    {% else %}
                        New
                    {% endif %}
                    Database Connection
                </legend>
                <p>
                    You may need to whitelist the Qwaver IP address (164.90.146.67) on your remote database server.
                </p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    {% if is_setup %}
                        Next →
                    {% else %}
                        Save
                    {% endif %}
                </button>
                {% if object != null %}
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'database-delete' object.id %}">Delete</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
