{% extends "queries/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <script src="https://unpkg.com/sql-formatter@2.3.3/dist/sql-formatter.min.js"></script>
    <script>
        function doFormat() {
            let textarea = document.getElementById('id_query');
            let content = textarea.textContent;
            let format = window.sqlFormatter.format;
            textarea.textContent = format(content);
            myCodeMirror.setValue(format(content))
        }
    </script>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ title }} Query</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-outline-success" type="button" onclick="doFormat();">Format</button>
            </div>
        </form>
    </div>
    <script>
        let textArea = document.getElementById('id_query');
        let codeMirrorConfig = {
            theme: 'dracula',
            lineNumbers: true,
            autofocus: true
        }
        let myCodeMirror = CodeMirror.fromTextArea(textArea, codeMirrorConfig);
    </script>
{% endblock content %}
