<div class="cards mb-4">
    {% for query in queries %}
        <div onclick="location.href='{% url 'query-detail' query.id %}';" class="card card-override"
             style="cursor: pointer; display: inline-block">
            {#            <img class="rounded-circle article-img profile-image-top-right" src="{{ user.profile.image.url }}">#}

            <div>
                <h5 class="card-title">{{ query.title }}</h5>
                <!--- show the latest chart or result -->
                {% if query.latest_result != null %}
                    {% if query.latest_result.chart != null %}
                        <img src="data:image/{{ query.latest_result.image_encoding }};base64,{{ query.latest_result.chart|safe }}"
                             class="contain card-image" width="100%"/>
                    {% elif query.latest_result.single != null %}
                        {% if query.description != null %}
                            {{ query.description }}<br>
                        {% endif %}
                        <div>{{ query.latest_result.single }}</div>
                    {% endif %}
                {% endif %}

                {% if query.latest_result != null %}
                    <p class="card-text">
                        {{ query.last_run_date|timesince }} ago<br>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>