<article class="media content-section">
        <img class="rounded-circle article-img" src="{{ query.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-queries' query.author.username %}">{{ query.author }}</a>
                <small class="text-muted">{{ query.date_created|date:"F d, Y" }}</small>

            </div>
            <div>
                {% if query.author == user %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1 float-right"
                       href="{% url 'query-update' query.id %}">Edit</a>
                {% endif %}
            </div>
            <h2 class="article-title">{{ query.title }}</h2>
            <form method="POST" action="{% url 'query-run' query.id %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    {% for param in params %}
                        <div id="div_id_title" class="form-group"><label for="id_title" class=" requiredField">
                            {{ param.name }} </label>
                            <div><input type="text" name="{{ param.name }}" value="{{ param.default }}"
                                        maxlength="100"
                                        class="textinput textInput form-control" id="{{ param.name }}"></div>
                        </div>
                    {% endfor %}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Run</button>
                </div>
            </form>
        </div>
    </article>