<div class="cards mb-4">
    {% for query in queries %}
        <div onclick="location.href='{% url 'query-detail' query.id %}';" class="card card-override"
             style="cursor: pointer; display: inline-block">
            {#            <img class="rounded-circle article-img profile-image-top-right" src="{{ user.profile.image.url }}">#}

            <div>
                <h5 class="card-title">{{ query.title }}</h5>
                <!--- show the latest chart or result -->
                {% if query.latest_result != null %}
                    {% if query.latest_result.chart != null %}
                        <img src="data:image/{{ query.latest_result.image_encoding }};base64,{{ query.latest_result.chart|safe }}"
                             class="contain card-image" width="100%"/>
                    {% elif query.latest_result.single != null %}
                        {% if query.description != null %}
                            <div class="dark-text">
                                {{ query.description }}
                            </div>
                            <br>
                        {% endif %}
                        <div>{{ query.latest_result.single }}</div>
                    {% endif %}
                {% endif %}

                {% if query.latest_result != null %}
                    <p class="card-text">
                        {{ query.last_run_date|timesince }} ago<br>
                    </p>
                {% endif %}
            </div>
            <style>
                .button-box {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 0.5em;
                }
            </style>
            <div style="height: 2em">
                <!--
                This div is simply to give the bottom button box some space.
                Maybe there's a better way to do this?
                -->
            </div>
            <div class="button-box">

                {% if query.get_params|length > 0 %}
                    <a class="btn btn-outline-primary btn-sm" href="{% url 'query-detail' query.id %}" role="button"
                       title="Use query">
                        <i class="bi bi-search"></i>
                    </a>
                {% else %}
                    <form method="POST" action="{% url 'query-run' query.id %}" id="query-form" style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary btn-sm" type="submit">Run</button>
                    </form>
                {% endif %}

                <a class="btn btn-outline-secondary btn-sm" href="{% url 'query-update' query.id %}" role="button"
                   title="Edit query">
                    <i class="bi bi-pencil"></i>
                </a>
                {% if query.latest_result != null %}
                    <a class="btn btn-outline-success btn-sm" href="{% url 'result-detail' query.latest_result.id %}"
                       role="button" title="See latest result">
                        <i class="bi bi-bar-chart"></i>
                    </a>
                {% endif %}
                <a class="btn btn-outline-danger btn-sm" href="{% url 'query-delete' query.id %}" role="button"
                   title="Delete query">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    {% endfor %}
</div>