{% for query in queries %}
    <article class="pl-0 pr-0 row mb-5 content-section">
        {% if query.latest_result != null %}
            <div class="col-md-8">
        {% else %}
            <div class="col-md-12">
        {% endif %}
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-queries' query.author.username %}">{{ query.author }}</a>
                <small class="text-muted">{{ query.date_created|date:"F d, Y" }} {{ query.run_count }}</small>
            </div>
            <h3 class="mb-0">
                <a class="article-title stretched-link" href="{% url 'query-detail' query.id %}">{{ query }}</a>
            </h3>
            <div class="mb-4 mt-0">
                <div style="color: gray" class="d-inline">{{ query.database }}</div>
                {% if query.description != null %}
                    : {{ query.description }}
                {% endif %}
                <p>
                    {% if query.latest_result != null %}
                        run {{ query.last_run_date|timesince }} ago
                    {% endif %}
                </p>
            </div>
            {% if query.author == user %}
                {#                    <div class="container">#}
                {#                        <div class="">#}
                {#                            <a class="btn btn-outline-secondary btn-sm mr-1"#}
                {#                               href="{% url 'query-update' query.id %}">Edit</a>#}
                {#                            <a class="btn btn-outline-success btn-sm mr-1" href="{% url 'query-clone' query.id %}">#}
                {#                                <i class="bi bi-files mr-1"></i>#}
                {#                                Clone#}
                {#                            </a>#}
                {#                            <a class="btn btn-outline-danger btn-sm mr-1"#}
                {#                               href="{% url 'query-delete' query.id %}">Delete</a>#}
                {#                        </div>#}
                {#                    </div>#}
            {% endif %}
        </div>
        {% if query.latest_result != null %}
            </div>
            <div class="col-md-4">
                {% if query.latest_result.chart != null %}
                    <a href="{% url 'query-detail' query.id %}">
                        <img src="data:image/{{ query.latest_result.image_encoding }};base64,{{ query.latest_result.chart|safe }}"
                             class="contain" height="150px"/>
                    </a>
                {% elif query.latest_result.single != null %}
                    <h1 class="display-3">{{ query.latest_result.single }}</h1>
                {% endif %}
            </div>
        {% else %}
            </div>
        {% endif %}
    </article>
{% endfor %}