{% extends "queries/base.html" %}
{% block content %}
    <h2>Versions</h2>
    <ul>
        {% for v in versions %}
            <li style="margin-bottom: 2em">
                <img class="rounded-circle article-img" src="{{ v.version.user.profile.image.url }}">
                <div style="display: inline">
                    {{ v.version.timestamp|timesince }} ago.
                </div>
                <div style="background-color: black; padding: 1em">
                    {{ v.diff|safe }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
