{% extends "queries/base.html" %}
{% block content %}
    <script>
        // submitting the form with ctrl-enter
        $(document).on("keypress", function (e) {
            if (e.ctrlKey && (e.which === 13)) {
                $('#query-form').submit();
            }
            if (e.ctrlKey && e.key.toLowerCase() === 'e') {
                document.getElementById("edit-btn").click();
            }
        });
    </script>
    <div class="row">
        <div class="col-md-8">
            {% include "queries/query_template.html" with query=object %}

            {#            {% if query.latest_result != null %}#}
            {#                <hr class="mt-4">#}
            {#                <h3>Latest Result: {{ query.last_run_date|timesince }} ago</h3>#}
            {#                {% include "queries/result_template.html" with result=query.latest_result %}#}
            {#            {% endif %}#}
        </div>
        <div class="col-md-4">
            {% include "queries/template_recent_results.html" with results=results %}
        </div>
    </div>

{% endblock content %}
